<%- include('../partial/head.ejs') %>
  <h2 class="ui center aligned icon header">
    <i class="lock icon"></i>
    <div class="content">
      Oops!
      <div class="sub header">You are unauthorized.</div>
    </div>
  </h2>
<%- include('../partial/footer.ejs') %>