<%- include('../partial/head.ejs') %>
  <h2 class="ui center aligned icon header">
    <i class="keyboard icon"></i>
    <div class="content">
      Oops!
      <div class="sub header">There was a problem with your request.</div>
    </div>
  </h2>
<%- include('../partial/footer.ejs') %>