<%- include('../partial/head.ejs') %>
  <h2 class="ui center aligned icon header">
    <i class="bug icon"></i>
    <div class="content">
      Oops!
      <div class="sub header">There seems to be an issue with our severs, we'll get to it as soon as possible!</div>
    </div>
  </h2>
<%- include('../partial/footer.ejs') %>